
@font-face {
    font-family: 'HeliosC';
    src: url('/fonts/HeliosC-Bold.eot');
    src: url('/fonts/HeliosC-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HeliosC-Bold.woff2') format('woff2'),
        url('/fonts/HeliosC-Bold.woff') format('woff'),
        url('/fonts/HeliosC-Bold.ttf') format('truetype'),
        url('/fonts/HeliosC-Bold.svg#HeliosC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeliosC';
    src: url('/fonts/HeliosC.eot');
    src: url('/fonts/HeliosC.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HeliosC.woff2') format('woff2'),
        url('/fonts/HeliosC.woff') format('woff'),
        url('/fonts/HeliosC.ttf') format('truetype'),
        url('/fonts/HeliosC.svg#HeliosC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amazing Grotesk';
    src: url('/fonts/AmazingGrotesk-Ultra.eot');
    src: url('/fonts/AmazingGrotesk-Ultra.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AmazingGrotesk-Ultra.woff2') format('woff2'),
        url('/fonts/AmazingGrotesk-Ultra.woff') format('woff'),
        url('/fonts/AmazingGrotesk-Ultra.ttf') format('truetype'),
        url('/fonts/AmazingGrotesk-Ultra.svg#AmazingGrotesk-Ultra') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
